<nav class="navbar navbar-expand-lg navbar-dark ">
	<a class="navbar-brand" href="/">> Stuart Rankin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.path == '/' %} active{% endif %}">
                <a class="nav-link" href="/">
                    Home
                </a>
            </li>
            <li class="nav-item {% if request.path == '/about' %} active{% endif %}">
                <a class="nav-link" href="/about">
                    About
                </a>
            </li>
            <li class="nav-item {% if request.path == '/projects/' %} active{% endif %}">
                <a class="nav-link" href="/projects">
                    Projects
                </a>
            </li>
            <li class="nav-item {% if request.path == '/blog/' %} active{% endif %}">
                <a class="nav-link" href="/blog">
                    Blog
                </a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto navbar-right">
            <li>
                <a class="mx-1" href="https://www.github.com/Rankin2000"><i class="mx-1 fa fa-github"></i>GitHub</a>
            </li>
            <li>
                <a class="mx-1" href="https://www.twitter.com/stuartrankin54"><i class="mx-1 fa fa-twitter"></i>Twitter</a>
            </li>
            <li>
                <a class="mx-1" href="https://www.linkedin.com/in/stuart-rankin-7961321b5"><i class="mx-1 fa fa-linkedin"></i>Linkedin</a>
            </li>
	</ul>
  </div>
</nav>

