{% extends "base.html" %}
{% load static %}
{% block page_content %}
<title>{{ project.title }} | Stuart Rankin </title>
<div class="container-fluid">
	<div class="col-md-8 offset-md-2">
	<h1>{{ project.title }}</h1>
	<small>
        	{{ project.date }} | 
        	Category:
		<a href="{% url 'project_category' project.categories.all.first %}">{{ project.categories.all.first }}
		</a>
	</small>
	<hr>


			<p>{{ project.description }}</p>
			{% if project.url  %}
			<p>{{ project.get_urlintro_display }} <a href="{{ project.url }}">here</a>.</p>
			{% endif %}

			<br>
			{% if project.file  %}

			<object data="{{ project.file.url }}"  type="application/pdf" class="object-fit" height="100%" width="100%"  style="min-height:100vh">
		</object>

			<p>If your browser doesn't support embedded PDFs, please find the PDF <a href="{{ project.file.url }}">here.</a></p>

			{% endif %}
</div>
</div>
</div>
{% endblock %}
